[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==7.2.2"

[dev-packages]
towncrier = "==25.8.0"
pytest = "==9.0.2"
pytest-cov = "==7.0.0"
coverage = "==7.13.4"
python-daemon = "==3.1.2"
mypy = {version = "==1.19.1", markers="implementation_name == 'cpython'"}
pygments = "==2.19.2"
tbump = "==6.11.0"
pytest-rerunfailures = "==16.1"
pytest-xdist = "==3.8.0"
