[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==7.1.2"

[dev-packages]
towncrier = "==25.8.0"
pytest = "==8.4.2"
pytest-cov = "==7.0.0"
coverage = "==7.10.7"
python-daemon = "==3.1.2"
mypy = "==1.18.2"
pygments = "==2.19.2"
tbump = "==6.11.0"
pytest-rerunfailures = "==16.0.1"
