[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==7.0.0"

[dev-packages]
towncrier = "==24.8.0"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
coverage = "==7.10.0"
python-daemon = "==3.1.2"
mypy = "==1.17.0"
pygments = "==2.19.2"
tbump = "==6.11.0"
pytest-rerunfailures = "==15.1"
