name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    uses: fizyk/actions-reuse/.github/workflows/shared-tests-pytests.yml@v4.1.1
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13", "3.14", "pypy-3.11"]'
      pytest_opts: '-n auto --dist loadgroup'
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  macostests:
    uses: fizyk/actions-reuse/.github/workflows/shared-tests-pytests.yml@v4.1.1
    needs: [tests]
    with:
      python-versions: '["3.12", "3.13", "3.14", "pypy-3.11"]'
      pytest_opts: '-n auto --dist loadgroup --basetemp=$RUNNER_TEMP/pt'
      os: macos-14 # macos-latest is on macos-15 which misbehaves
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
  oldest:
    needs: [tests]
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "pypy-3.11"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Pipenv on python ${{ matrix.python-version }}
        uses: fizyk/actions-reuse/.github/actions/pipenv-setup@v4.1.1
        with:
          python-version: ${{ matrix.python-version }}
          cache: false
          allow-prereleases: true
      - name: Install oldest supported versions
        uses: fizyk/actions-reuse/.github/actions/pipenv-run@v4.1.1
        with:
          command: pip install -r oldest-requirements.rq
      - name: Run tests
        uses: fizyk/actions-reuse/.github/actions/pipenv-run@v4.1.1
        with:
          command: pytest -v --cov --cov-report=xml -n auto --dist loadgroup
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          env_vars: OS,PYTHON
          fail_ci_if_error: false
